extends layout

block head

  link(rel='stylesheet', type='text/css', href='../CSS/aboutUs.css')
  title About Us

block content
  
  div.container.historySection
    div.historyTopic 
      | KNOW MORE ABOUT US
    div.row.ninjaPart
      div.pictureCol
        img(src="https://ae01.alicdn.com/kf/HTB118uvSXXXXXcVXXXXq6xXFXXXH/9-6cm-9-8cm-Car-Sticker-Cartoon-Funny-Ninja-Vinyl-Decal-Black-Silver-Accessories-S6-4099.jpg_640x640.jpg")
      div.infoCol
        div.question
          | What is "Ninja" ?
        div.answer
          | A ninja (忍者) or shinobi (忍び) was a covert agent or mercenary in feudal Japan. 
          | The functions of the ninja included espionage, sabotage, infiltration, assassination and guerrilla warfare. 
          | Their covert methods of waging irregular warfare were deemed dishonorable and beneath the samurai, who observed strict rules about honor and combat. 
          | The shinobi proper, a specially trained group of spies and mercenaries, appeared in the 15th century during the Sengoku period, but antecedents may have existed as early as the 12th century.
    div.row.ecommercePart
      div.pictureCol
        img(src="https://static.thenounproject.com/png/16757-200.png")
      div.infoCol
        div.question
          | What is "Ecommerce" ?
        div.answer
          | E-commerce is the activity of buying or selling of products on online services or over the Internet.
          | Electronic commerce draws on technologies such as mobile commerce, electronic funds transfer, supply chain management, Internet marketing, online transaction processing, electronic data interchange (EDI), inventory management systems, and automated data collection systems.
    div.row.ninjaEcommercePart
      div.pictureCol
        img(src="../pictures/ningja_logo.png")
      div.infoCol
        div.question
          | " Ninja Ecommerce "
        div.answer
          | It is the best ecommerce website that ever had in this century.
          | We promise that our services will <span class="ninjaEcommereKeyword">fast, safe, inexpensive, secretly, good quality, reliable, and silently</span> sent like a ninja.
      
  div.container.contactSection
    div.contactTopic
      | Contact Us
    div.row.contactPart
      div.contactPictureCol
        img(src="./pictures/addAddress.png")   
      div.contactInfoCol
        p Line : KongRukThailandMakMak
        p Email : varit.as@ku.th
        p Tel : 5910545833
        p Skype : KongVarito
            
block foot

  script(src='../script/aboutUs.js')
