extends admin-layout

block content
  .myBody
      .flex-container.allCard
        each user in users
          div.cardMargin
            img(src="", alt="")
            br
            div.m-3
              a.myCard(href="/admin/user/"+user.username) #{user.username}
            hr
            div.m-3 
              a.myCard(href='/admin/user/'+user.username) #{user.email}
            div.m-3 
              button.mt-5.btn.btn-danger(value= user.username) Delete


  script(src='../script/removeUser.js')