extends admin-layout

block content
  .myBody
    .row.m-3
      .col-sm-6
        p Username : #{account.username}
        hr
        p Email : #{account.email}
        hr
        p Point : #{account.point}
        hr
      .col-sm-6
        img(src="", alt="")
    .flex-container
      //- each order in account.orderHistory
          

