extends admin-layout

block content
  .row.color-container
      each feedback, i in feedbacks
        .container.product-border
         br
         span.mr-2.username-word Name :
         span #{feedback.username}
         br
         span.mr-2.feedback-word Feedback :
         span #{feedback.feedback}
         br
         button.mt-3.btn.btn-danger(value= feedback.feedbackID) Delete
  script(src='../script/removeFeedback.js')
