extends layout

block head
  
    link(rel='stylesheet', type='text/css', href='../CSS/appointment.css')
    title Ninja Appointment

block content
  
  //- Confirm order topic
  div.container
    div.row.justify-content-center
      span.confirmOrderWelcomeSentence 
        | My Appointment
  
  div.container.shoppingDisplayStatusContainer
    div.row.justify-content-center
      div.col-sm-8.shoppingDisplayStatusColumn
        span.shoppingDisplayStatus
          | Fill our appointment place.
        div.progress
          div(class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100")
            | 25%
    
  //- Button selection
  div.container
    div.row.justify-content-center
      //- Confirm the appointment, the modal plugin
      button(type="button" class="btn btn-success" id='confirmButton' data-toggle="modal" data-target="#exampleModal")
        | Confirm
      div(class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true")
        div(class="modal-dialog" role="document")
          div(class="modal-content")
            div(class="modal-header")
              h5(class="modal-title" id="exampleModalLabel") Ninja notes
              button(type="button" class="close" data-dismiss="modal" aria-label="Close")
                span(aria-hidden="true") &times;
            div(class="modal-body")
              p Your appointment has been save! 
              p Next , Please select your convenient payment method.
            div(class="modal-footer")
              button(type="button" class="btn btn-secondary" data-dismiss="modal") No, let me check my money.
              button(type="button" class="btn btn-primary") OK! I'm ready.
      //- Cancel button
      button(type="button" class="btn btn-danger" id='cancelButton')
        | Cancel

block foot
  
  script(src='../script/appointment.js')
