extends store

block head

  link(rel='stylesheet', type='text/css', href='../CSS/store.css')
  title Ninja Beer

block content
  body
  br
  img.fixsize(src='../pictures/Beer_Leo_can.jpg' , onclick='openForm()')
  #myForm.form-popup
    form.form-container(action='/action_page.php')
      h1 Leo Can
      hr
      .container
        .row
          .col-4
            img(src='../pictures/Beer_Leo_can.jpg' , onclick='openForm()' ,height='200', width='200')
          .col-4
            | Vol : 320 ml.
            br
            br
            | Type : Beer
            br
            br
            | Distributor : Boon Rawd Brewery Co.,Ltd.
          .col-4
            | ABV : 5 %
            br
            br
            | Country : Thailand
            br
            br
            button.btn.favorite Add To Favorite
          h Beer Leo is a beer from Boon Rawd Brewery Co.,Ltd first produced in 1996, is a quality product from Beer Singha.
      hr
      input.btn.number.mb-2.fixsize.center(type='number', name='pro'+(i+1), step='1', min='1' , value='1')
      button.btn.mb-2.fixsize.addToCartButton.center Add To Cart
      button.btn.cancel(type='button', onclick='closeForm()') Close
  img.fixsize(src='../pictures/Beer_Leo_bottle.jpg' , onclick='openForm()')

block foot

  script(src='../script/beer.js')
