extends layout

block head
  
  link(rel='stylesheet', type='text/css', href='../CSS/confirmOrder.css')
  title Ninja Confirm

block content
  
  h1 Confirm Order Page

block foot
  
  script(src='../script/confirmOrder.js')
