extends layout

block head
  link(rel='stylesheet', type='text/css', href='../CSS/homepage.css')
  title Ninja Ecommerce

block content
  div(class="container")
    div(class="row", id="history-section")
      div(class="col-sm-9")
        .history-section-sentence-1
          p(id="senc-1") "The best ecommerce website in the world."
          p(id="senc-2") We promise that our services will fast, safe, inexpensive, secretly, good quality, reliable, and silently sent like a ninja.
      div(class="col-sm-3")
        .history-section-picture-1
          img(id ="history-pic-1", src="https://ae01.alicdn.com/kf/HTB118uvSXXXXXcVXXXXq6xXFXXXH/9-6cm-9-8cm-Car-Sticker-Cartoon-Funny-Ninja-Vinyl-Decal-Black-Silver-Accessories-S6-4099.jpg_640x640.jpg")
    div(class="row")
      div(class="col-sm-3")
        .history-section-picture-2
          img(id ="history-pic-2", src="https://ae01.alicdn.com/kf/UT8yqrSXs8aXXagOFbXB/12-6-14.jpg_640x640.jpg")
      div(class="col-sm-9")
        .history-section-sentence-2
          p(id="senc-3") NINJA ECOMMERCE is not only yor choice ...
          p(id="senc-4") It is the best choice !!!!
    div(class="row")
      h1 This is Promotion section
    div(class="row")
      h1 This is Best Seller Product section
  
