extends layout

block head
  link(rel='stylesheet', type='text/css', href='../CSS/homepage.css')
  title Ninja Ecommerce

block content
  div(class="container")
    div(class="row", id="history-section")
      div(class="col")
        p
        | Welcome to the best ecommerce website in the world.
        p
        | We promise that our services will fast, safe, inexpensive, secretly, good quality, reliable, and silently sent like a ninja.
      div(class="col")
        img(id ="history-pic-1", src="https://ae01.alicdn.com/kf/HTB118uvSXXXXXcVXXXXq6xXFXXXH/9-6cm-9-8cm-Car-Sticker-Cartoon-Funny-Ninja-Vinyl-Decal-Black-Silver-Accessories-S6-4099.jpg_640x640.jpg")
    div(class="row")
      h1 This is Promotion section
    div(class="row")
      h1 This is Best Seller Product section
  
