doctype html
html

  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css", integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO", crossorigin="anonymous")
    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous")
    link(href="https://fonts.googleapis.com/css?family=Mali" rel="stylesheet")
    link(rel='stylesheet', type='text/css', href='../CSS/layout.css')   
    link(rel="stylesheet" href="../CSS/animate.css") 

    block head

  body
    
    // Header section
    div.container-fluid
      div.headerSection
        div(class="row", id="nav-bar-box")
          div(class="col-md-12")
            ul(id="menu-nav-bar", class="nav nav-pills nav-fill")
              li(class="nav-item")
                a(href='/')
                 img.fixsize-logo(src='../pictures/logo_onweb.png' href="/")
              li(class="nav-item")
                a(class='nav-link' href="/promotion") PROMOTION
              li(class="nav-item dropdown")
                a(class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") STORE
                div(class="dropdown-menu" aria-labelledby="navbarDropdown")
                  a(class="dropdown-item" id='whiskyChoice')
                    | Whisky
                  a(class="dropdown-item" id='beerChoice')
                    | Beer
                  a(class="dropdown-item" id='wineChoice')
                    | Wine
                  a(class="dropdown-item" id='mixerChoice')
                    | Mixer
              li(class="nav-item")
                a(class='nav-link' href="/status") STATUS
              li(class="nav-item")
                a(class='nav-link' href="/aboutUs") ABOUTUS
              if user
                li(class="nav-item")
                  a(class='nav-link' href="/logout") Logout
                li(class='nav-item')
                  a(class='nav-link' href=`/mycart/`+user.username) Mycart
              else
                li(class="nav-item")
                  a(class='nav-link' href="/signup") SIGN UP
                li(class="nav-item")
                  a(class='nav-link' href="/login") LOG IN
    
    // User navigation bar status
    div(class="container" id='userNavBar')
      div.row.align-items-center
        div.userNavBarSentenceSection
          div(class='row justify-content-center')
            span(id="userNavBarSentence")
              if user
                | Welcome #{user.username} !
              else
                | Welcome anonymous !
        div.userNavBarStatusSection
          div(class='row justify-content-center')
            i(class="far fa-user fa-10x" id='userNavBarUserIcon')
            if user
              button(type="button" class="btn btn-outline-dark" id='userNavBarUsername' value=user.username disabled) #{user.username}
            else
              button(type="button" class="btn btn-outline-dark" id='userNavBarUsername' disabled) None
            i(class="fas fa-shopping-cart" id='userNavBarCartIcon')
            button(type="button" class="btn btn-outline-dark" id='userNavBarOrder' disabled) 0
            button(type="button" class="btn btn-danger" id='userNavBarConfirm') MY CART
      
    // Body section
    link(rel='stylesheet', type='style/css', href='../CSS/style.css')
    != messages('message', locals)
    block content

    // Footer section
    div(id="footer-section", class="container-fluid")
      hr
      div(class="row")
        div(id="footer-company-name-background", class="col-sm-12")
          span.mx-2(id="footer-company-name") NINJA ECOMMERCE
    .feedbackSign
      label.mt-1.mx-2.animated.infinite.pulse.slow Feedback
    .feedback
      .container.mt-4
        div
          form(id='feedbackForm' method='POST', action='/addFeedback')
            p Your name or username (Optional)
            input.form-control(name='name', type='text')
            br
            p Give us feedback
            textarea.mb-2.form-control(name="feedback", cols="5", rows="3")
            button.btn.btn-danger.d-inline-block.mr-3.feedbackCancelButton(type='button') Cancel
            input.btn.btn-primary.d-inline-block.feedbackSummitButton(type='submit', value='Submit') 
        
  script(src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous")
  script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous")
  script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js")
  script(src="http://malsup.github.com/jquery.form.js")
  script(src="../script/layout.js")
  script(src="../script/feedback.js")

  // Foot section
  block foot
  
