extends store

block head

  link(rel='stylesheet', type='text/css', href='../CSS/store.css')
  title Ninja Mixer

block content

    //- Product topic
    div(class='container')
      div(class='row justify-content-center')
        div(class='col-sm-6' id='productContent')
          span(id='productContentTopic') >> Mixer <<
          
    //- Product catalogue
    .flex-container.mt-3
      each product, i in products
        div(class='p-3 border border-dark' style='margin-top: 20px; margin-bottom: 20px;')
          h.mt-2 #{product.productName}
          h3 #{product.productDetail}
          img.fixsize(src='../pictures/Mixer_'+product.productName+'_'+product.productDetail+'.jpg')
          br
          h ฿ #{product.productPrice}
          br
          div
            input.mb-2.fixsize(type='number', name='pro'+(i+1), step='1', min='1' , value='1')
            button.mb-2.fixsize.addToCartButton(value= product.productName + ',pro' + (i+1) + ',' + product.productID ) Add To Cart


block foot

  script(src='../script/mixer.js')
