extends store

block head

  link(rel='stylesheet', type='text/css', href='../CSS/store.css')
  title Ninja Mixer

block content

  //- Product topic
  div(class='container')
    div(class='row justify-content-center')
      div(class='col-sm-6' id='productContent')
        span(id='productContentTopic') >> Mixer <<
  
  .container-fluid
    h2 Wine
    .row
      .container.col-6.col-md-4
        .container.product-border
          h Coca Cola
          h3 (500 ml.)
          .col-1
          img#fixsize(src='../pictures/Mixer_Coca_500ml.jpg')
          br
          // ราคา
          h ฿ 18
          br
          .row
            .col.align-self-center
              br
              // ช่องtextfeild
              input#fixsize(type='number', name='pro1', step='1', min='1' , value='1')
              button#fixsize.button1
                | Add To Cart

      .container.col-6.col-md-4
        .container.product-border
          h Coca Cola
          h3 (1.5 Lite.)
          .col-1
          img#fixsize(src='../pictures/Mixer_Coca_Lite.jpg')
          br
          // ราคา
          h ฿ 45
          br
          .row
            .col.align-self-center
              br
              // ช่องtextfeild
              input#fixsize(type='number', name='pro2', step='1', min='1' , value='1')
              button#fixsize.button1
                | Add To Cart

      .container.col-6.col-md-4
        .container.product-border
          h Sprite
          h3 (500 ml.)
          .col-1
          img#fixsize(src='../pictures/Mixer_Sprite_500ml.jpg')
          br
          // ราคา
          h ฿ 18
          br
          .row
            .col.align-self-center
              br
              // ช่องtextfeild
              input#fixsize(type='number', name='pro3', step='1', min='1' , value='1')
              button#fixsize.button1
                | Add To Cart

      .container.col-6.col-md-4
        .container.product-border
          h Sprite
          h3 (1.25 Lite.)
          .col-1
          img#fixsize(src='../pictures/Mixer_Sprite_Lite.jpg')
          br
          // ราคา
          h ฿ 40
          br
          .row
            .col.align-self-center
              br
              // ช่องtextfeild
              input#fixsize(type='number', name='pro4', step='1', min='1' , value='1')
              button#fixsize.button1
                | Add To Cart

      .container.col-6.col-md-4
        .container.product-border
          h Ice
          h3 (1 Kg.)
          .col-1
          img#fixsize(src='../pictures/Mixer_Ice.jpg')
          br
          // ราคา
          h ฿ 20
          br
          .row
            .col.align-self-center
              br
              // ช่องtextfeild
              input#fixsize(type='number', name='pro4', step='1', min='1' , value='1')
              button#fixsize.button1
                | Add To Cart


      .container.col-6.col-md-4
        .container.product-border
          h Soda Singha
          h3 (325 ml.)
          .col-1
          img#fixsize(src='../pictures/Mixer_Soda.jpg')
          br
          // ราคา
          h ฿ 18
          br
          .row
            .col.align-self-center
              br
              // ช่องtextfeild
              input#fixsize(type='number', name='pro4', step='1', min='1' , value='1')
              button#fixsize.button1
                | Add To Cart

      .container.col-6.col-md-4
        .container.product-border
          h Peepo
          h3 (25 Pieces)
          .col-1
          img#fixsize(src='../pictures/Mixer_Pepo.jpg')
          br
          // ราคา
          h ฿ 40
          br
          .row
            .col.align-self-center
              br
              // ช่องtextfeild
              input#fixsize(type='number', name='pro4', step='1', min='1' , value='1')
              button#fixsize.button1
                | Add To Cart

block foot

  script(src='../script/mixer.js')
