extends layout

block head

  link(rel='stylesheet', type='text/css', href='../CSS/promotion.css')
  title Ninja Promotion 1

block content
  .container
    br
    h2(id="changeName") Promotion BlackLabel with 9 Mixer
    .row
      .col-md-8
        img.fixsize-Promotion(src='../pictures/Logo_Black.jpg' id ="changeWhisky")
      .col-md-4.product-border
        h Include
        .dropdown
          select#list(onchange="jsDropDown('changeWhisky','changeName','changePrice',this.value)" )
            option(value='Logo_Black') BlackLabel (1.0 Lite )
            option(value='Logo_Red') RedLabel (1.0 Lite )
          h  x 1
        .dropdown
          select#list(onchange="jsDropDown('changeMixer','changeName','changePrice',this.value)")
            option(value='9Mixer_Cola') Coca Cola (1.50 Lite)
            option(value='9Mixer_Sprite') Sprite (1.25 Lite )
          h  x 1
        .dropdown
          select#list(onchange='getSelectValue();')
            option(value='Singha') Soda Singha (325 ml. )
          h  x 8
        img.fixsize-Promotion(src='../pictures/9Mixer_Cola.jpg' id ="changeMixer")
        h(id ="changePrice") ฿ 1799
        button#fixsize.button1
          | Add To Cart

block foot

  script(src="../script/selectPromotion.js")
