extends layout

block head

  link(rel='stylesheet', type='text/css', href='../CSS/promotion.css')
  title Ninja Promotion

block content

  div(class="container" id='userNavBar')
    div(class='row justify-content-end')
        i(class="far fa-user" id='userNavBarUserIcon')
        button(type="button" class="btn btn-outline-dark" id='userNavBarUsername' disabled) Annonymous
        i(class="fas fa-shopping-cart" id='userNavBarCartIcon')
        button(type="button" class="btn btn-outline-dark" id='userNavBarOrder' disabled) 0
        button(type="button" class="btn btn-danger" id='userNavBarConfirm') CONFIRM

  .container
    div(class="promotionWelcomeSentence")
      | PROMOTION
    .row
      .col-md-12
        a(href='/pro1')
          img.fixsize-Promotion(src='../pictures/Promotion_Black_9Mixer.jpg')
      .col-md-6
        a(href='/pro1')
          img.fixsize-Promotion(src='../pictures/Promotion_Black_9Mixer.jpg')
      .col-md-6
        a(href='/pro1')
          img.fixsize-Promotion(src='../pictures/Promotion_Red_9Mixer.jpg')       

block foot

  script(src='../script/promotion.js')
