extends layout

block head
  
  link(rel='stylesheet', type='text/css', href='../CSS/promotion.css')
  title Ninja Promotion

block content
  
  .container
    h2 Promotion
    .row
      .col-md-12
        a(href='/pro1')
          img#fixsize-Promotion(src='../pictures/Promotion_Black_9Mixer.jpg')
      .col-md-6
        img#fixsize-Promotion(src='../pictures/Promotion_Black_9Mixer.jpg')
      .col-md-6
        img#fixsize-Promotion(src='../pictures/Promotion_Red_9Mixer.jpg')
          
block foot
  
  script(src='../script/promotion.js')
