extends layout

block head
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
  link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css", integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO", crossorigin="anonymous")
  link(rel='stylesheet', type='text/css', href='../CSS/promotion.css')
  title Ninja Promotion

block content
  .container
    h2 Promotion
    .row
      .container.col-6.col-md-4
        .container.product-border
          h Blend with soda
          .col-1
          img#fixsize(src='../pictures/promotion1.jpg')
          br
          // ราคา
          h ฿ 599
          br
          .row
            .col.align-self-center
              br
              // ช่องtextfeild
              input#fixsize(type='number', name='pro1', step='1', min='1')
              button#fixsize.button1
                | Add To Cart
                a(href='file:///Users/panther/Documents/atom/wsp/akedelivery/addToCart.html')

      .container.col-6.col-md-4
        .container.product-border
          h Blend with soda
          .col-1
          img#fixsize(src='../pictures/promotion1.jpg')
          br
          // ราคา
          h ฿ 599
          br
          .row
            .col.align-self-center
              br
              // ช่องtextfeild
              input#fixsize(type='number', name='pro2', step='1', min='1')
              button#fixsize.button1
                | Add To Cart
                a(href='file:///Users/panther/Documents/atom/wsp/akedelivery/addToCart.html')

      .container.col-6.col-md-4
        .container.product-border
          h Blend with soda
          .col-1
          img#fixsize(src='../pictures/promotion1.jpg')
          br
          // ราคา
          h ฿ 599
          br
          .row
            .col.align-self-center
              br
              // ช่องtextfeild
              input#fixsize(type='number', name='pro3', step='1', min='1')
              button#fixsize.button1
                | Add To Cart
                a(href='file:///Users/panther/Documents/atom/wsp/akedelivery/addToCart.html')

      .container.col-6.col-md-4
        .container.product-border
          h Blend with soda
          .col-1
          img#fixsize(src='../pictures/promotion1.jpg')
          br
          // ราคา
          h ฿ 599
          br
          .row
            .col.align-self-center
              br
              // ช่องtextfeild
              input#fixsize(type='number', name='pro4', step='1', min='1')
              button#fixsize.button1
                | Add To Cart
                a(href='file:///Users/panther/Documents/atom/wsp/akedelivery/addToCart.html')

      .container.col-6.col-md-4
        .container.product-border
          h Blend with soda
          .col-1
          img#fixsize(src='../pictures/promotion1.jpg')
          br
          // ราคา
          h ฿ 599
          br
          .row
            .col.align-self-center
              br
              // ช่องtextfeild
              input#fixsize(type='number', name='pro5', step='1', min='1')
              button#fixsize.button1
                | Add To Cart
                a(href='file:///Users/panther/Documents/atom/wsp/akedelivery/addToCart.html')

      .container.col-6.col-md-4
        .container.product-border
          h Blend with soda
          .col-1
          img#fixsize(src='../pictures/promotion1.jpg')
          br
          // ราคา
          h ฿ 599
          br
          .row
            .col.align-self-center
              br
              // ช่องtextfeild
              input#fixsize(type='number', name='pro6', step='1', min='1')
              button#fixsize.button1
                | Add To Cart
                a(href='file:///Users/panther/Documents/atom/wsp/akedelivery/addToCart.html')
