extends layout

block head
  link(rel='stylesheet', type='text/css', href='../CSS/status.css')
  title Ninja Status

block content
  
  div(class="container-fluid statusContent")
    
    //- First sentence
    div(class="container-fluid")
      div(class="statusFirstSentence" value=order)
        | CHECK STATUS
              
    //- Input form
    div(class="container-fluid statusInputForm")
      div(class="input-group mb-3")
        div(class="input-group-prepend")
          span(class="input-group-text")
            | Order number
        input(type="text" id='idOrder' class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default")
    
    //- Order number displays
    div.container-fluid.statusOrderNumberDisplay
        div.orderNumberDisplay
          | Please enter your order number.
    
    //- Progess bar
    div(class="container-fluid statusProgressbar")
      div(class="progress")
        div(class="progress-bar progress-bar-striped progress-bar-animated bg-danger" id="statusProgessbarResult" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 10%")
    
    //- Table result

    div(class="container-fluid statusTableResult")
      div.row
        div.numberColHead.width20Percent.headStyle No.
        div.productColHead.width20Percent.headStyle Product 
        div.amountColHead.width20Percent.headStyle Amount
        div.costColHead.width20Percent.headStyle Cost
        div.statusColHead.width20Percent.headStyle Status
      div.row
        div.numberColBody.width20Percent
        div.productColBody.width20Percent
        div.amountColBody.width20Percent
        div.costColBody.width20Percent
        div.statusColBody.width20Percent
    //- Remind sentence
    div(class="container-fluid statusRemindSentence")
      div(class="remindSentence")
        | ** If you have any question, don't be hesitate to contact us. **

block foot
              
  script(src='../script/status.js')
