extends layout

block head
  link(rel='stylesheet', type='text/css', href='../CSS/status.css')
  title Ninja Status

block content
  div(class="container")
    //- Welcome sentence
    div(class="status-welcome-sentence")
        | CHECK YOU STATUS
    //- Input form
    div(class="container")
      div(class="row justify-content-md-center")
        div(class="col-sm-6")
          div(class="input-group mb-3" id="status-inputform")
            div(class="input-group-prepend")
              span(class="input-group-text")
                | Order number
            input(type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default")
    //- Progess bar
    div(class="container")
      div(class="row justify-content-md-center")
        div(class="col-sm-6")
          div(class="progress" id="status-progessbar")
            div(class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 50%")
    //- Table result
    div(class="container")
      div(class="row justify-content-md-center")
        div(class="col-sm-11")
          table(class="table" id="status-table")
            thead(class="thead-dark")
              tr
                th(scope="col") No.
                th(scope="col") Product
                th(scope="col") Amount
                th(scope="col") Cost(฿)
                th(scope="col") Status
            tbody
              tr
                th(scope="row") 1
                td Kong
                td Kong
                td Kong
                td Kong
              tr
                th(scope="row") 2
                td Varit
                td Varit
                td Varit
                td Varit
              tr
                th(scope="row") 3
                td Ass
                td Ass
                td Ass
                td Ass
    //- Remind sentence
    div(class="container")
      div(class="row justify-content-md-center")
        div(class="col-sm-8")
          div(class="status-remind-sentence")
            | If you have any question, don't be hesitate to contact us.

block foot
              
  script(src='../script/status.js')
