extends store-layout

block head
  link(rel='stylesheet', type='text/css', href='../CSS/homepage.css')
  title Ninja Store

block content
  div(class="container")
    h1
      | An regulation of shopping section

  
