extends layout

block head
  
  link(rel='stylesheet', type='text/css', href='../CSS/store.css')
  title Ninja Store

block content
  
  div(class='container')
    div(id="nav-bar-box-2", class="row")
      div(class="col-sm-12")
        ul(id="menu-nav-bar", class="nav nav-pills nav-fill")
          li(class="nav-item")
            a(class=(typeDrink === 'whisky' ? "nav-link active": "nav-link") href="/whisky") Whisky
          li(class="nav-item")
            a(class=(typeDrink === 'beer' ? "nav-link active": "nav-link") href="/beer") Beer
          li(class="nav-item")
            a(class=(typeDrink === 'wine' ? "nav-link active": "nav-link") href="/wine") Wine
          li(class="nav-item")
            a(class=(typeDrink === 'mixer' ? "nav-link active": "nav-link") href="/mixer") Mixer

  div(class="container" id='userNavBar')
    div(class='row justify-content-end')
      i(class="far fa-user" id='userNavBarUserIcon')
      if user
        button(type="button" class="btn btn-outline-dark" id='userNavBarUsername' value=user.username ) #{user.username}
      else
        button(type="button" class="btn btn-outline-dark" id='userNavBarUsername' ) None
      i(class="fas fa-shopping-cart" id='userNavBarCartIcon')
      button(type="button" class="btn btn-outline-dark" id='userNavBarOrder' disabled) 0
      button(type="button" class="btn btn-danger" id='userNavBarConfirm' ) CONFIRM
  
  div(class="container-fluid")
    h1
      | An regulation of shopping section

block foot
  
  script(src='../script/store.js')
