extends store

block head

  link(rel='stylesheet', type='text/css', href='../CSS/store.css')
  title Ninja Whisky

block content

  div(class='container')
    div(id="nav-bar-box-2", class="row")
      div(class="col-sm-12")
        ul(id="menu-nav-bar", class="nav nav-pills nav-fill")
          li(class="nav-item")
            a(class=(typeDrink === 'whisky' ? "nav-link active": "nav-link") href="/whisky") Whisky
          li(class="nav-item")
            a(class=(typeDrink === 'beer' ? "nav-link active": "nav-link") href="/beer") Beer
          li(class="nav-item")
            a(class=(typeDrink === 'wine' ? "nav-link active": "nav-link") href="/wine") Wine
          li(class="nav-item")
            a(class=(typeDrink === 'mixer' ? "nav-link active": "nav-link") href="/mixer") Mixer

  div(class="container" id='userNavBar')
    div(class='row justify-content-end')
      i(class="far fa-user" id='userNavBarUserIcon')
      button(type="button" class="btn btn-outline-dark" id='userNavBarUsername' disabled) Annonymous
      i(class="fas fa-shopping-cart" id='userNavBarCartIcon')
      button(type="button" class="btn btn-outline-dark" id='userNavBarOrder' disabled) 0
      button(type="button" class="btn btn-danger" id='userNavBarConfirm' href='/confirmOrder') CONFIRM

  .container-fluid
    h2 Whisky
    .row
      .container.col-6.col-md-4
        .container.product-border
          h Black Label
          h3 (700 ml.)
          .col-1
          img#fixsize(src='../pictures/Whisky_Black_700ml.jpg')
          br
          // ราคา
          h ฿ 1399
          br
          .row
            .col.align-self-center
              br
              // ช่องtextfeild
              input#fixsize(type='number', name='pro1', step='1', min='1' , value='1')
              button#fixsize.button1
                | Add To Cart

      .container.col-6.col-md-4
        .container.product-border
          h Black Label
          h3 (1.0 Liter)
          .col-1
          img#fixsize(src='../pictures/Whisky_Black_Lite.jpg')
          br
          // ราคา
          h ฿ 1699
          br
          .row
            .col.align-self-center
              br
              // ช่องtextfeild
              input#fixsize(type='number', name='pro2', step='1', min='1' , value='1')
              button#fixsize.button1
                | Add To Cart

      .container.col-6.col-md-4
        .container.product-border
          h Blend285
          h3 (700 ml.)
          .col-1
          img#fixsize(src='../pictures/Whisky_285_700ml.jpg')
          br
          // ราคา
          h ฿ 260
          br
          .row
            .col.align-self-center
              br
              // ช่องtextfeild
              input#fixsize(type='number', name='pro3', step='1', min='1' , value='1')
              button#fixsize.button1
                | Add To Cart

      .container.col-6.col-md-4
        .container.product-border
          h Blend285
          h3 (1.0 Lite)
          .col-1
          img#fixsize(src='../pictures/Whisky_285_700ml.jpg')
          br
          // ราคา
          h ฿ 360
          br
          .row
            .col.align-self-center
              br
              // ช่องtextfeild
              input#fixsize(type='number', name='pro4', step='1', min='1' , value='1')
              button#fixsize.button1
                | Add To Cart

      .container.col-6.col-md-4
        .container.product-border
          h Red Label
          h3 (700 ml.)
          .col-1
          img#fixsize(src='../pictures/Whisky_Red_700ml.jpg')
          br
          // ราคา
          h ฿ 659
          br
          .row
            .col.align-self-center
              br
              // ช่องtextfeild
              input#fixsize(type='number', name='pro5', step='1', min='1' , value='1')
              button#fixsize.button1
                | Add To Cart

      .container.col-6.col-md-4
        .container.product-border
          h Red Label
          h3 (1.0 Liter)
          .col-1
          img#fixsize(src='../pictures/Whisky_Red_Lite.jpg')
          br
          // ราคา
          h ฿ 899
          br
          .row
            .col.align-self-center
              br
              // ช่องtextfeild
              input#fixsize(type='number', name='pro6', step='1', min='1' , value='1')
              button#fixsize.button1
                | Add To Cart

block foot

  script(src='../script/whisky.js')
