extends layout

block head
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
  link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css", integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO", crossorigin="anonymous")
  link(rel='stylesheet', type='text/css', href='../CSS/store.css')
  title Ninja Promotion

block content
  .container
    h2 Wine
    .row
      .container.col-6.col-md-4
        .container.product-border
          h Full Moon White <br>(275 ml.)
          .col-1
          img#fixsize(src='../pictures/Wine_Fullmoon_White.jpg')
          br
          // ราคา
          h ฿ 30
          br
          .row
            .col.align-self-center
              br
              // ช่องtextfeild
              input#fixsize(type='number', name='pro1', step='1', min='1')
              button#fixsize.button1
                | Add To Cart
                a(href='file:///Users/panther/Documents/atom/wsp/akedelivery/addToCart.html')


      .container.col-6.col-md-4
        .container.product-border
          h Full Moon Red <br>(275 ml.)
          .col-1
          img#fixsize(src='../pictures/Wine_Fullmoon_Red.jpg')
          br
          // ราคา
          h ฿ 30
          br
          .row
            .col.align-self-center
              br
              // ช่องtextfeild
              input#fixsize(type='number', name='pro2', step='1', min='1')
              button#fixsize.button1
                | Add To Cart
                a(href='file:///Users/panther/Documents/atom/wsp/akedelivery/addToCart.html')


      .container.col-6.col-md-4
        .container.product-border
          h Full Moon Dark <br>(275 ml.)
          .col-1
          img#fixsize(src='../pictures/Wine_Fullmoon_Dark.jpg')
          br
          // ราคา
          h ฿ 30
          br
          .row
            .col.align-self-center
              br
              // ช่องtextfeild
              input#fixsize(type='number', name='pro3', step='1', min='1')
              button#fixsize.button1
                | Add To Cart
                a(href='file:///Users/panther/Documents/atom/wsp/akedelivery/addToCart.html')

      .container.col-6.col-md-4
        .container.product-border
          h Full Moon Rose <br>(275 ml.)
          .col-1
          img#fixsize(src='../pictures/Wine_Fullmoon_Rose.jpg')
          br
          // ราคา
          h ฿ 30
          br
          .row
            .col.align-self-center
              br
              // ช่องtextfeild
              input#fixsize(type='number', name='pro4', step='1', min='1')
              button#fixsize.button1
                | Add To Cart
                a(href='file:///Users/panther/Documents/atom/wsp/akedelivery/addToCart.html')
