* {
  /* border: 2px solid green; */
}

.container {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.historyTopic {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

.contactTopic {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

.pictureCol {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  width: 200px;
  height: 200px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.infoCol {
  width: 70%;
}

.question {
  font-size: 25px;
  font-weight: bold;
  text-align: center;
}

.answer {
  font-size: 23px;
  padding: 10px;
  text-indent: 2em;
}

.historySection .row {
  margin: 10px 0px;
  padding: 10px 0px;
  border: 2px solid black;
  border-radius: 2em;
}

.contactSection .row {
  margin: 10px 0px;
  border: 2px solid black;
  border-radius: 2em;
}

.contactPart {
  display: flex;
  justify-content: center;
}

.contactPictureCol {
  width: 50%;
  text-align: right;
  padding-right: 5%;
}

.contactInfoCol {
  width: 50%;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  padding-top: 1%;
}
