/* For checking the element */
* {
  /* border: 2px solid green; */
}

/* user nav bar */

#userNavBar {
  margin-top: 10px;
  margin-bottom: 10px;
}

#userNavBarUserIcon {
  font-size: 200%;
  margin-left: 5px;
  margin-right: 5px;
}

#userNavBarUsername {
  margin-left: 5px;
  margin-right: 5px;
}

#userNavBarCartIcon {
  font-size: 200%;
  margin-left: 5px;
  margin-right: 5px;
}

#userNavBarOrder {
  margin-left: 5px;
  margin-right: 5px;
}

/* History */

.history-welcome-sentence {
  font-size: 60px;
  font-weight: bold;
  text-align: center;
}

#box-1 {
  margin: 10px;
  border: 2px;
  border-style: solid;
  border-color: black;
}

.box-1-sentence {
  font-size: 20px;
  color: black;
}

.box-1-sentence-topic {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  padding: 5px 0;
}

.box-1-sentence-detail {
  text-indent: 10%;
  padding: 5px 0;
}

.box-1-picture {
  margin-top: 10px;
}

.box-1-picture img {
  width: 100%;
  height: 100%;
  max-width: 150px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#box-2 {
  margin: 10px;
  border: 2px;
  border-style: solid;
  border-color: red;
}

.box-2-sentence {
  font-size: 20px;
  color: red;
}

.box-2-sentence-topic {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  padding: 5px 0;
}

.box-2-sentence-detail {
  text-indent: 10%;
  padding: 5px 0;
}

.box-2-picture {
  margin-top: 10px;
}

.box-2-picture img {
  width: 100%;
  height: 100%;
  max-width: 150px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#box-3 {
  margin: 10px;
  border: 2px;
  border-style: solid;
  border-color: rgb(255, 185, 48);
}

.box-3-sentence {
  font-size: 20px;
  color: rgb(255, 185, 48);
}

.box-3-sentence-topic {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  padding: 5px 0;
}

.box-3-sentence-detail-1 {
  text-indent: 10%;
  padding: 5px 0;
}

.box-3-sentence-detail-2 {
  text-indent: 10%;
  padding: 5px 0;
}

.box-3-sentence-detail-2-keyword {
  font-weight: bold;
}

.box-3-picture {
  margin-top: 10px;
}

.box-3-picture img {
  width: 100%;
  height: 100%;
  max-width: 150px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.setcenter {
  height: 100px;
  width: 500px;
}

/* Contact */

.contactWelcomeSentence {
  font-size: 60px;
  font-weight: bold;
  text-align: center;
}

#contactBox1 {
  margin: 10px;
}

.contactBox1Picture {
  margin-top: 10px;
  margin-bottom: 10px;
}

.contactBox1Picture img {
  width: 100%;
  height: 100%;
  max-width: 150px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.contactBox1Sentence {
  font-size: 20px;
  color: black;
  text-align: center
}

.contactBox1SentenceTopic {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  padding: 5px 0;
}

.contactBox1SentenceDetail {
  text-indent: 100%;
  padding: 5px 0;
}

.alignCenter{
  display : flex;
  align-content: left;
  align-items: center;
}