.myNavBar{
    background-color:whitesmoke;
    padding : 1em;
}

.img{
  opacity: 1;
  display: block;
  max-width: 50px;
  max-height: 50px;
  transition: all  0.2s ease;
}


.logo:hover .img{
    max-width: 500px;
    opacity: 0.4;
}
.navComponent {
    transition: all 0.2s ease;
}


.onHoverNavComponent{
    display: inline-block;
}

.onHoverNavComponent:hover .navComponent{
    transition:  1s;
    background-color: darkcyan;
}

.sidenav {
    position: fixed;
    height: 100%;
    width: 8em;
    display: block;
    float: left;
    z-index: 11;
    top: 0;
    left: 0.1em;
    background-color:whitesmoke;
    overflow-x: auto;
    padding-top: 7em;
    margin-left: 0.5em;
}

.sidenav a{
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    word-wrap:break-word;
}

.sidenav a:hover {
    color: darkslategrey;
}

.myBody{
    margin-left: 7.85em;
}

.flex-container {
    overflow: auto;
    display: flex;
    height: auto;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: palegoldenrod;
    padding-bottom: 1em;
}
  
.flex-container > div {
    background-color: whitesmoke;
    min-width: 100px;
    margin-top: 1em;
    flex-basis: 30%;
    word-wrap:break-word;
    border-radius: 4px;
}

.allCard{
    border-radius: 4px;
    
}

.myCard{
    color: black;
}

.navToggle{
    display: none;
}


.toggleNavBar{
    display: none;
    position: fixed;
    z-index: 111;
    bottom: 0;
    width: 100%;
    height: 50%;
    margin-right: 4em !important;
}

@media (max-width: 1150px) {
    .logo{
        margin-left: 1em;
    }
    .onHoverNavComponent{
        display: inline;
    }

    .myBody{
        margin: 0;
    }

    .flex-container{
       display: block;
    }
    .flex-container > div {
        background-color: whitesmoke;
        display: block;
        flex-basis: 30%;
        word-wrap:break-word;
    }

    .navComponent{
        display: none;
    }
    .navToggle{
        display:block;
    }

    .sidenav{
        display: none;
    }
    .cardMargin{
        margin-right: 1em;
        margin-left: 1em;
    }
}


.navLink {
    color: black;
}

.navMenuImg{
    width: 50px;
    height: 50px;
    cursor: pointer;
}

