* {
  /* border: 1px solid green; */
}

/* Fill Appointment topic */

.appointmentWelcomeSentence {
  font-size: 30px;
  font-weight: bold;
  padding: 20px 100px;
  margin-top: 10px;
}

/* Change the font size of appointment topic */
@media screen and (max-width: 500px) {

  .appointmentWelcomeSentence {
    font-size: 23px;
  }

}

/* Appointment section */

.appointmentSection {
  padding: 0px 50px;
}

.halfField {
  width: 50%;
  padding: 10px ;
}

.fullField {
  width: 100%;
  padding: 10px ;
}

.personalField {
  font-size: 30px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}

.personalFieldTopic {
  padding: 10px 0px 10px 1em;
}

.fullAddressField {
  font-size: 30px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}

.fullAddressFieldTopic {
  padding: 10px 0px 10px 1em;
}

.buttonInAddressField button {
  margin: 0px 10px;
}

select {
  font-size: 15px;
}

/* No padding of div appointmentSection */
@media screen and (max-width: 600px) {

  .appointmentSection {
    padding: 0px;
  }

}

/* Input width be 100% */
@media screen and (max-width: 1075px) {

  .input-group {
      width: 100%;
  }

  .halfField {
    width: 100%;
  }

  .fullField {
    width: 100%;
  }

}

/* Decrease the font size of personal and address topic */
@media screen and (max-width: 500px) {

  .personalFieldTopic {
    font-size: 23px;
  }

  .fullAddressFieldTopic {
    font-size: 23px;
  }

}

.noticeField {
  font-size: 30px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
}

.noticeFieldTopic {
  padding: 10px 0px 10px 1em;
  color: red;
}

.noticeFieldSentence {
  padding: 10px 0px 10px 1em;
  font-size: 23px;
}

/* Decease the size of notice part */
@media screen and (max-width: 770px) {

  .noticeFieldSentence {
    font-size: 13px;
  }

  .noticeFieldSentence button {
    font-size: 13px;
  }

}

/* Button selection */

.buttonFinalSelection {
  margin-bottom: 10px;
}

#confirmCartButton {
  font-size: 23px;
  margin: 0px 30px 0px 0px;
}

#cancelButton {
  font-size: 23px;
  margin: 0px 0px 0px 30px;
}
