/* * {
  border: 2px;
  border-style: dashed;
  border-color: green;
} */

/* Body section */

#body-section {
  margin: 10px;
}

#history-section {
  margin: 20px;
  border: 1px;
}

.history-section-sentence-1 {
  text-align: right;
  margin-top: 25px;
}

.history-section-picture-1{

}

#senc-1 {
  font-size: 25px;
  color: red;
}

#senc-2 {
  font-size: 15px;
  color: red;
}

#history-pic-1 {
  width: 200px;
  height: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.history-section-sentence-2 {
  text-align: left;
  margin-top: 25px;
}

.history-section-picture-2{

}

#senc-3 {
  font-size: 25px;
  color: red;
}

#senc-4 {
  font-size: 25px;
  color: red;
}

#history-pic-2 {
  width: 200px;
  height: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}