* {
  border: 2px;
  border-style: dashed;
  border-color: green;
}

/* History */

#box-1 {
  margin: 10px;
  border: 2px;
  border-style: solid;
  border-color: purple;
}

.box-1-sentence {
  font-size: 15px;
  color: purple;
  text-indent: 10%;
  padding: 40px 20px;
}

.box-1-picture {

}

.box-1-picture img {
  width: 100%;
  height: 100%;
  max-width: 150px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#box-2 {
  margin: 10px;
  border: 2px;
  border-style: solid;
  border-color: purple;
  /* text-align: center; */
}

.box-2-sentence {
  font-size: 20px;
  color: purple;
  padding: 40px 20px;
}

.box-2-picture {

}

.box-2-picture img {
  width: 100%;
  height: 100%;
  max-width: 150px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.setcenter {
  height: 100px;
  width: 500px;
}

/* Promotion */

/* Best seller */
