* {
  /* border: 2px;
  border-style: dashed;
  border-color: green; */
}

/* Welcome video */

.welcomeVideo {
  margin-top: 20px;
}

/* Best seller */

.bestsellerWelcomeSentence {
  font-size: 23px;
  font-weight: bold;
  text-align: center;
  background-color: rgb(255, 255, 123);
}


#bestsellerBoxTable {
  background-color: rgb(255, 255, 195);
  font-size: 20px;
}

.margin-bottom{
  margin-bottom: 20px;
}

.temp{
  max-width: 500px;
  max-height: 500px;
}
.temp2{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
