/* * {
  border: 2px solid green;
} */

/* Header section */

#nav-bar-box {
  padding-top: 20px;
  padding-bottom: 10px;
  background-color: rgb(254, 209, 0);
}

.nav-link {
  color: black;
  font-size: 20px;
}

/* Footer section */

#footer-section {
  margin-bottom: 10px;
}

#footer-quote {
  text-align: center;
  padding: 20px;
  font-size: 15px;
  line-height: 40px;
}

#footer-company-name {
  font-size: 20px;
  text-align: center;
  padding: 20px;
  margin: 20px
}

#footer-company-name-background {
  background-color: rgb(254, 209, 0);
  padding: 10px;
}

* {
  font-family: 'Luckiest Guy', cursive;
}
.fixsize-logo{
  width: 130px;
  height: 70px;
}

.alignCenter{
  display : flex;
  align-content: center;
  align-items: center;
}