/* * {
  border: 2px;
  border-style: dashed;
  border-color: green;
} */

/* Header section */

#logo-image {
  width: 20%;
  height: 15%;
  display: block;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

#nav-bar-box {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: rgb(254, 209, 0);
}

.nav-link {
  color: black;
  font-size: 20px;
}

/* Footer section */

#footer-section {
  margin-bottom: 10px;
}

#footer-quote {
  text-align: center;
  padding: 20px;
  font-size: 15px;
  line-height: 40px;
}

#footer-company-name {
  font-size: 20px;
  text-align: center;
  padding: 20px;
  margin: 20px
}

#footer-company-name-background {
  background-color: rgb(254, 209, 0);
  padding: 10px;
}
