* {
  /* border: 1px solid green; */
}

/* Payment topic */

.paymentTopicContainer {
  font-size: 30px;
  font-weight: bold;
  padding: 10px 0px;
}

@media screen and (max-width: 500px) {

  .paymentTopicContainer {
    font-size: 23px;
  }

}

/* Payment selection part  */

/* ----------Left part---------- */

/* Choose payment method */
.paymentLogo {
  width: 50%;
}

/* Sentence */
.paymentLogoSentence {
  text-align: center;
  font-size: 23px;
}

/* Each image logo */
.paymentLogo img {
  height: 100px;
  width: 150px;
  margin: 20px;
  border: 1px solid black;
}

/* When focus on image logo */
.paymentLogo img:hover {
  border: 3px solid red;
}

/* Change the alignment of image logo */
@media screen and (max-width: 1100px) {

  .paymentLogoImage {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .paymentLogo img {
    margin: 10px;
  }

}

/* ----------Right part---------- */

/* Payment */
.paymentField {
  width: 50%;
}

.paymentFieldInputSentence {
  text-align: center;
  font-size: 23px;
}

.paymentFieldInput {
  display: flex;
  justify-content: center;
}

.input-group {
  width: 70%;
}

.input-group-prepend {
  padding: 5px;
  width: 100%;
}

.paymentFieldUploadSentence {
  text-align: center;
  font-size: 23px;
}

.paymentFieldUpload {
  text-align: center;
  margin-bottom: 10px;
}

@media screen and (max-width: 989px) {

  .paymentLogo {
    width: 100%;
  }

  .paymentField {
    width: 100%;
  }

  .input-group {
    width: 70%;
  }

}

@media screen and (max-width: 563px) {

  .input-group {
    width: 100%;
  }

}

.paymentFileUpload input {

}

.paymentFileUpload button {

}

/* Button selection */

.buttonFinalSelection {
  margin-bottom: 10px;
}

#confirmCartButton {
  font-size: 23px;
  margin: 0px 30px 0px 0px;
}

#cancelButton {
  font-size: 23px;
  margin: 0px 0px 0px 30px;
}
