/* For checking the element */
* {
  /* border: 2px solid green; */
}

/* user nav bar */

#userNavBar {
  margin-top: 10px;
  margin-bottom: 10px;
}

#userNavBarUserIcon {
  font-size: 200%;
  margin-left: 5px;
  margin-right: 5px;
}

#userNavBarUsername {
  margin-left: 5px;
  margin-right: 5px;
}

#userNavBarCartIcon {
  font-size: 200%;
  margin-left: 5px;
  margin-right: 5px;
}

#userNavBarOrder {
  margin-left: 5px;
  margin-right: 5px;
}

/* Panther design */

button.button1 {
    background-color: white;
    color: black;
    border: 2px solid #555555;
    height:40px;
    width:230px;
}
#fixsize {
  height:60%;
  width:90%;
}

#fixsize-Promotion {
  height:100%;
  width:100%;
  padding-bottom: 20px;
}
#fixsize-Promotion2 {
  height:50%;
  width:50%;
  padding-bottom: 20px;
}


button.button1:hover {
    background-color: #555555;
    color: white;
}


button.button1:focus{
  background-color: #555555;
  color: green;
}

/*.center {
    text-align: center;
    margin: auto;
    width: 40%;
    height: 50%;
    border: 3px solid #99999C;
    padding: 10px;
}*/
.product-border {
    text-align: center;
    margin: auto;
    border: 3px solid #99999C;
    padding-bottom: 30px;
    padding-top: 30px;
    margin-bottom: 30px;
    border-radius:10px;
}
