* {
  /* border: 2px solid green; */
}

/* ---------- Big container ---------- */

.statusContent {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* ----- First sentence ----- */

.statusFirstSentence {
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  margin-top: 5px;
  margin-bottom: 5px;
}

/* ----- Input form ----- */

.statusInputForm{
  display: flex;
  justify-content: center;
}

.input-group {
  width: 50%;
  margin-top: 5px;
}

/* ----- Order number display ----- */

.statusOrderNumberDisplay {
  display: flex;
  justify-content: center;
}

.orderNumberDisplay {
  background-color: black;
  color: white;
  text-align: center;
  font-weight: bolder;
  font-size: 23px;
  padding: 20px 0px;
  width: 50%;
}

.statusProgressbar {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 10px;
}

.statusProgressbar .progress {
  width: 50%;
}

/* ----- Table result ----- */

.statusTableResult {
  padding-top: 10px;
  padding-bottom: 10px;
}

.width20Percent {
  width: 20%;
}

.headStyle {
  text-align: center;
  font-size: 25px;
  font-width: bold;
  height: 50px;
  background-color: rgb(217, 217, 217);
  padding-top: 10px;
}

.bodyStyle {
  font-size: 20px;
  text-align: center;
  height: 50px;
  border-bottom: 1px solid black;
  padding-top: 10px;
}

/* Remind sentence */

.statusRemindSentence {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.remindSentence {
  font-size: 23px;
  font-weight: bold;
}

/* Medium size */
@media screen and (max-width: 900px) {

  .input-group {
    width: 90%;
  }

  .orderNumberDisplay {
    width: 90%;
    font-size: 20px;
  }

  .statusProgressbar .progress {
    width: 90%;
  }

  .headStyle {
    font-size: 20px;
  }

  .bodyStyle {
    font-size: 15px;
  }

  .remindSentence {
    font-size: 20px;
  }

}

/* Small size */
@media screen and (max-width: 700px) {

  .input-group {
    width: 100%;
  }

  .orderNumberDisplay {
    width: 100%;
    font-size: 15px;
  }

  .statusProgressbar .progress {
    width: 100%;
  }

  .headStyle {
    font-size: 15px;
  }

  .bodyStyle {
    font-size: 12px;
  }

  .remindSentence {
    font-size: 15px;
  }

}
