* {
  /* border: 2px solid green; */
}

#statusContent {
  margin-top: 20px;
}

.status-welcome-sentence {
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  margin-top: 10px;
}

#status-inputform {
  padding: 10px 0px;
  width: 50%;
}

.orderNumberDisplay {
  background-color: rgb(255, 255, 123);
  color: black;
  text-align: center;
  font-weight: bolder;
  font-size: 23px;
  padding: 20px 0px;
}

#status-progessbar {
  margin: 20px 0px;
}

#status-table {
  margin: 10px 0px;
}

.statusTableHead {
  background-color: rgb(255, 255, 123);
  font-size: 23px;
}

#statusTableItem {
  font-size: 20px;
}

.status-remind-sentence {
  color: black;
  text-align: center;
  font-weight: bolder;
  font-size: 23px;
  padding: 20px 0px;
}

@media screen and (max-width: 900px) {

  #status-inputform {
    width: 90%;
  }

}
