doctype html
head
  // Required meta tags
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  // Bootstrap CSS
  link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css' integrity='sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO' crossorigin='anonymous')
  // Created CSS
  link(rel='stylesheet' type='text/css' href='../CSS/index.css')
  // Title
  title Ninja 4.0 HOME
  // CSS imagePreview
  link(rel='stylesheet' href='../CSS/ImagePreview.css')
  // JS imagePreview
  script(src='../bower_components/jquery/dist/jquery.js')
  script(src='../jQuery/ImagePreview.js')
// Header Section
.container
  // Logo
  img#logo-image(src='../pictures/logo-example.png' alt='')
  // Navigation Bars
  #nav-bar-box.row
    .col-sm-12
      ul#menu-nav-bar.nav.nav-pills.nav-fill
        li.nav-item
          a.nav-link.active(href='#') HOME
        li.nav-item
          a#menu-nav-promotion.nav-link(href='#') PROMOTION
        li.nav-item
          a.nav-link(href='#') STORE
        li.nav-item
          a.nav-link(href='#') STATUS
        li.nav-item
          a.nav-link(href='#') SIGN UP
        li.nav-item
          a.nav-link(href='#') LOG IN
// Body section
.container
  br
  center
    font(size='56') Login
  br
  // username
  br
  .input-group.mb-3
    .input-group-prepend
      span#basic-addon1.input-group-text Username
    input.form-control(type='text' placeholder='Username' aria-label='Username' aria-describedby='basic-addon1')
  br
  // Password
  .input-group.mb-3
    .input-group-prepend
      span#basic-addon2.input-group-text Password
    input.form-control(type='password' placeholder='Password' aria-label='Password' aria-describedby='basic-addon1')
// Footer Section
#footer-section.container
  .row
    #footer-quote.col-sm-12
      span
        | The fastest, most silent, most quality ecommerce like a 
        mark NINJA
        |  service.
      br
      span  -- Varit Asshole ( Tester of Ninja 4.0 ) -- 
  .row
    #footer-company-name-background.col-sm-12
      h1#footer-company-name NINJA ECOMMERCE
// Optional JavaScript
// jQuery first, then Popper.js, then Bootstrap JS
script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js' integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo' crossorigin='anonymous')
script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js' integrity='sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49' crossorigin='anonymous')
script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js' integrity='sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy' crossorigin='anonymous')
script(src='../jQuery/index.js')
script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js')
